.card {
  width: 85% !important;
  text-align: center !important;
}

.contentImg {
  width: 100%;
}

.contentNombre {
  margin: 10px 0px;
}
.contentPrecio {
  margin: 10px 0px;
}
.contentStock {
  margin: 10px 0px;
}
