.itemDetailContainer {
  margin: 0px auto;
  width: 80%;

  &__title {
    color: rgb(0, 48, 90);
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-transform: uppercase !important;
  }

  &__itemDetail {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &--image {
      width: 50%;

      &img {
        width: 100%;
      }
    }

    &--contentInfo {
      &__titulo {
        background-color: #d5d4d4;
        color: #4183c4;
        font-size: 2rem;
        font-weight: bold;
        padding: 50px 10px;
      }

      &__precio {
        background-color: #f1f1f1;
        padding: 25px 10px;
        color: #4183c4;
        font-size: 1.2rem;
        font-weight: bold;
      }

      &__descripcion {
        background-color: #fbfbfb;
        padding: 40px 27px;
        color: #000000;
        font-size: 1.2rem;
      }
    }
  }
}
