@import './mxin/mixin.scss';

.contadorContainer {
  @include display-flex(center, flex, space-between);
  padding: 0px 30px;

  &--infoContainer {
    @include display-flex(center, flex, center);

    &__stockContainer {
      padding-right: 50px;

      &--valor{
        font-size: 20px !important;
        margin: 15px 0px !important;
        text-align: center;
      }
    }

    &__botonAgregarRestar {
      @include display-flex(center, flex, center);

      &--botonIcon {
        font-size: 1.5rem !important;
      }

      &--valorInicial{
        font-size: 20px !important;
        margin: 15px 0px !important;
        text-align: center;
      }
    }
  }
}

// 1024, 768, 580
@media (max-width: 1024px) {
  .contadorContainer {
    display: block;
    padding: 0px;

    &--botonesExtra{
      @include display-flex(center, flex, center);

    }
  }
}

@media (max-width: 580px) {
  .contadorContainer {
    &--infoContainer{

      &__stockContainer {
        &--valor{
          font-size: 15px !important;
        }
      }

      &__botonAgregarRestar {
        &--botonIcon {
          font-size: 1.2rem !important;
        }
  
        &--valorInicial{
          font-size: 15px !important;
        }
      }
    }
  }
}