@import './mxin/mixin.scss';

.itemListContainer {
  margin: 100px auto;
  padding: 20px 0px;
  width: 85%;

  &--titleList {
    @include font-group(GillSansBold, 2.5rem, bold, rgb(0, 48, 90));
    padding: 15px;
    text-align: center;
    text-transform: uppercase !important;
  }

  &--itemList {
    &__contenedorListado {
      @include display-grid(baseline, grid, 30% 30% 30%, 600px 600px, center);

      &__card {
        width: 85% !important;
        text-align: center !important;

        &--contentImg {
          width: 100%;
        }

        &--contentNombre {
          @include font-group(Arial, 1.2rem, bold, #000);
          margin: 10px 0px;

          &__precioAnterior{
            @include font-group(Arial, 1rem, '', rgb(177, 9, 9));
            text-decoration:line-through;
            padding: 0px 10px;
          }

          &__precioOferta{
            @include font-group(Arial, '', bold, rgb(56, 156, 25));
            padding: 0px 10px;
          }
        }

        &--contentPrecio {
          @include font-group(Arial, 1.2rem, bold, '');
          margin: 10px 0px;
        }
      }
    }
  }
}

// 1024, 768, 580
@media (max-width: 1024px) {
  .itemListContainer {
    margin: 80px auto;
    padding: 0px;
    width: 100%;

    &--itemList {
      &__contenedorListado {
       
        grid-template-rows: 440px 440px;

        &__card{
          &--contentNombre {
            font-size: 1rem;
  
            &__precioAnterior, &__precioOferta{
              padding: 0px;
            }
          }
  
          &--contentPrecio {
            font-size: 1rem;
          }
        }
      }
    }

  }
}

@media (max-width: 768px) {
  .itemListContainer {
    &--itemList {
      &__contenedorListado {
        grid-template-columns: 45% 45%;
        grid-template-rows: 435px 435px;
      }
    }

  }
}

@media (max-width: 580px) {
  .itemListContainer {

    &--titleList {
      font-size: 1.5rem;
      padding: 0px;
    }

    &--itemList {
      &__contenedorListado {
        grid-template-columns: 80%;
        grid-template-rows: 525px 525px;

        &__card{
          width: 100% !important;
        }
      }
    }

  }
}

@media (max-width: 380px) {
  .itemListContainer {
    &--itemList {
      &__contenedorListado {
        grid-template-rows: 430px 445px;

      }
    }

  }
}