.header {
  background-color: #4183c4;
  color: #fff;

  margin: 0px auto;

  width: 100%;

  &--title {
    color: #fff;
    font-size: 4rem;
    padding: 20px 0px;
    text-align: center;
  }

  &--navegacion {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    padding: 10px 0px;
    width: 100%;

    &__lista {
      display: flex;
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      padding: 0;

      &--opciones {
        color: #fff;
        cursor: pointer;
        float: left;
        padding: 0px 40px;
        margin: 12px;
      }

      &--cart {
        color: #fff;
        margin: 12px;
      }
    }
  }
}
